<!DOCTYPE html>
<html>
<head>
  <title>Better Ajax Pagination</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'jquery.address.min', 'rails', 'pagination' %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">

    <h1><%= link_to "Better Ajax Pagination", root_path %></h1>
    <p>This pagination example works across all browers, and degrages gracefully.</p>
    <p>Grab the source code <a href="http://github.com/keithpitt/ajax-pagination">here</a></p>

    <form action="<%= search_path %>" class="ajax-results">
      <input type="text" name="q" id="search" autocomplete="" placeholder="Search for a video game" value="<%= params[:q] %>" />
      <input type="submit" id="button" value="Search" />
    </form>

    <%= yield %>

  </div>
</body>
</html>
